### Using the data/parsed.csv file and the material from this chapter, complete the following exercises to practice your pandas skills:

## Setup

In [1]:
import pandas as pd

## Exercise 1
#### Load stock data
We want to look at data for the Facebook, Apple, Amazon, Netflix, and Google (FAANG) stocks, but we were given each as a separate CSV file (obtained using the stock_analysis package we will build in Chapter 7, Financial Analysis â€“ Bitcoin and the Stock Market). Combine them into a single file and store the dataframe of the FAANG data as faang for the rest of the exercises:

a) Read in the aapl.csv, amzn.csv, fb.csv, goog.csv, and nflx.csv files.

b) Add a column to each dataframe, called ticker, indicating the ticker symbol it is for (Apple's is AAPL, for example); this is how you look up a stock. In this case, the filenames happen to be the ticker symbols.

c) Append them together into a single dataframe.

d) Save the result in a CSV file called faang.csv.

In [32]:
faang = pd.read_csv('./exercises/aapl.csv').assign(ticker='AAPL')
faang = faang.append(pd.read_csv('./exercises/amzn.csv').assign(ticker='AMZN'))
faang = faang.append(pd.read_csv('./exercises/fb.csv').assign(ticker='FB'))
faang = faang.append(pd.read_csv('./exercises/goog.csv').assign(ticker='GOOG'))
faang = faang.append(pd.read_csv('./exercises/nflx.csv').assign(ticker='NFLX'))
faang.to_csv('./exercises/faang.csv', index=False)

## Book Solution
# faang = pd.DataFrame()
# for ticker in ['fb', 'aapl', 'amzn', 'nflx', 'goog']:
#     df = pd.read_csv(f'../../ch_03/exercises/{ticker}.csv')
#     # make the ticker the first column
#     df.insert(0, 'ticker', ticker.upper())
#     faang = faang.append(df)

# faang.to_csv('faang.csv', index=False)

## Exercise 2
#### Initial cleaning
With faang, use type conversion to cast the values of the date column into datetimes and the volume column into integers. Then, sort by date and ticker.

In [30]:
faang = pd.read_csv('./exercises/faang.csv')
faang.date = pd.to_datetime(faang.date)
faang.volume = pd.to_numeric(faang.volume, downcast='integer')
faang.sort_values(by=['date', 'ticker'], inplace=True)
faang.info()

## Book Solution
# faang = faang.assign(
#     date=lambda x: pd.to_datetime(x.date),
#     volume=lambda x: x.volume.astype(int)
# ).sort_values(
#     ['date', 'ticker']
# )

# faang.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1255 entries, 0 to 1254
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1255 non-null   datetime64[ns]
 1   high    1255 non-null   float64
 2   low     1255 non-null   float64
 3   open    1255 non-null   float64
 4   close   1255 non-null   float64
 5   volume  1255 non-null   int32
 6   ticker  1255 non-null   object
dtypes: datetime64[ns](1), float64(4), int32(1), object(1)
memory usage: 73.5+ KB

## Exercise 3
#### Find the seven rows in faang with the lowest value for volume.

In [36]:
faang.nsmallest(7, 'volume')

,date,high,low,open,close,volume,ticker
126,2018-07-03,1135.819946,1100.020020,1135.819946,1102.890015,679000.0,GOOG
226,2018-11-23,1037.589966,1022.398987,1030.000000,1023.880005,691500.0,GOOG
99,2018-05-24,1080.469971,1066.150024,1079.000000,1079.239990,766800.0,GOOG
130,2018-07-10,1159.589966,1149.589966,1156.979980,1152.839966,798400.0,GOOG
152,2018-08-09,1255.541992,1246.010010,1249.900024,1249.099976,848600.0,GOOG
159,2018-08-20,1211.000000,1194.625977,1205.020020,1207.770020,870800.0,GOOG
161,2018-08-22,1211.839966,1199.000000,1200.000000,1207.329956,887400.0,GOOG

## Exercise 4
#### Convert to long format
Right now, the data is somewhere between long and wide format. Use melt() to make it completely long format. Hint: date and ticker are our ID variables (they uniquely identify each row). We need to melt the rest so that we don't have separate columns for open, high, low, close, and volume.

In [43]:
faang.head(5)
faang_long = faang.melt(id_vars=['date', 'ticker'], value_vars=['open', 'high', 'low', 'close', 'volume'])

## Exercise 5
#### Handling a glitch
Suppose we found out that on July 26, 2018 there was a glitch in how the data was recorded. How should we handle this? Note that there is no coding required for this exercise.

##### Book Solution
> Given that this is a large data set (~ 1 year), we would be tempted to just drop that date and interpolate. However, some preliminary research on that date for the FAANG stocks reveals that FB took a huge tumble that day. If we had interpolated, we would have missed the magnitude of the drop.

## Exercise 6
#### Load ECDC data.
The European Centre for Disease Prevention and Control (ECDC) provides an open dataset on COVID-19 cases called daily number of new reported cases of COVID-19 by country worldwide (https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide). This dataset is updated daily, but we will use a snapshot that contains data from January 1, 2020 through September 18, 2020. Clean and pivot the data so that it is in wide format:

a) Read in the covid19_cases.csv file.

b) Create a date column using the data in the dateRep column and the pd.to_datetime() function.

c) Set the date column as the index and sort the index.

d) Replace all occurrences of United_States_of_America and United_Kingdom with USA and UK, respectively. Hint: the replace() method can be run on the dataframe as a whole.

e) Using the countriesAndTerritories column, filter the cleaned COVID-19 cases data down to Argentina, Brazil, China, Colombia, India, Italy, Mexico, Peru, Russia, Spain, Turkey, the UK, and the USA.

f) Pivot the data so that the index contains the dates, the columns contain the country names, and the values are the case counts (the cases column). Be sure to fill in NaN values with 0.

In [125]:
# covid_df = pd.read_csv('./exercises/covid19_cases.csv')
# covid_df['date'] = pd.to_datetime(covid_df.dateRep)
# covid_df = covid_df.drop(columns=['dateRep', 'day', 'month', 'year'])
# covid_df.set_index('date', inplace=True)
# covid_df.sort_index

selection_list = ('Argentina', 'Brazil', 'China', 'Columbia', 'India', 'Italy', 'Mexico', 'Peru', 'Russia', 'Spain', 'Turkey', 'UK', 'USA')

covid_df = pd.read_csv('./exercises/covid19_cases.csv').assign(
    date=lambda x: pd.to_datetime(x.dateRep, format='%d/%m/%Y')
).set_index('date')
covid_df.countriesAndTerritories.replace('United_States_of_America','USA', inplace=True)
covid_df.countriesAndTerritories.replace('United_Kingdom','UK', inplace=True)
covid_df = covid_df[covid_df.countriesAndTerritories.isin(selection_list)]

covid_df_pivot = covid_df.reset_index().pivot(index='date', columns='countriesAndTerritories', values='cases').fillna(0)

# Exercise 7
#### Find the 20 counteries with the largest COVI19 case totals.
In order to determine the case totals per country efficiently, we need the aggregation skills we will learn about in Chapter 4, Aggregating Pandas DataFrames, so the ECDC data in the covid19_cases.csv file has been aggregated for us and saved in the covid19_total_cases.csv file. It contains the total number of cases per country. Use this data to find the 20 countries with the largest COVID-19 case totals. Hints: when reading in the CSV file, pass in index_col='cases', and note that it will be helpful to transpose the data before isolating the countries.

In [128]:
# Book Solution
pd.read_csv('./exercises/covid19_total_cases.csv', index_col='index').T.nlargest(20, 'cases').sort_values('cases', ascending=False)

index           cases
USA           6724667
India         5308014
Brazil        4495183
Russia        1091186
Peru           756412
Colombia       750471
Mexico         688954
South_Africa   657627
Spain          640040
Argentina      601700
Chile          442827
France         428696
Iran           416198
UK             385936
Bangladesh     345805
Saudi_Arabia   328720
Iraq           311690
Pakistan       305031
Turkey         299810
Italy          294932