### Using the data/parsed.csv file and the material from this chapter, complete the following exercises to practice your pandas skills:

## Setup

In [165]:
import pandas as pd
df = pd.read_csv('./data/parsed.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   alert         59 non-null     object
 1   cdi           329 non-null    float64
 2   code          9332 non-null   object
 3   detail        9332 non-null   object
 4   dmin          6139 non-null   float64
 5   felt          329 non-null    float64
 6   gap           6164 non-null   float64
 7   ids           9332 non-null   object
 8   mag           9331 non-null   float64
 9   magType       9331 non-null   object
 10  mmi           93 non-null     float64
 11  net           9332 non-null   object
 12  nst           5364 non-null   float64
 13  place         9332 non-null   object
 14  rms           9332 non-null   float64
 15  sig           9332 non-null   int64
 16  sources       9332 non-null   object
 17  status        9332 non-null   object
 18  time          9332 non-null   int64
 19  title         9332 non-null   object
 20  tsunami       9332 non-null   int64
 21  type          9332 non-null   object
 22  types         9332 non-null   object
 23  tz            9331 non-null   float64
 24  updated       9332 non-null   int64
 25  url           9332 non-null   object
 26  parsed_place  9332 non-null   object
dtypes: float64(9), int64(4), object(14)
memory usage: 1.9+ MB

## Exercise 1
#### Find the 95th percentile of earthquake magnitude in Japan using the mb magnitude type.

In [166]:
print(df.type.value_counts())
print(df.magType.value_counts())
print()
print(df.parsed_place.value_counts())

earthquake      9081
quarry blast      95
explosion         80
ice quake         72
other event        4
Name: type, dtype: int64
ml       6803
md       1796
mb        601
mww        68
mb_lg      30
mwr        14
mh         12
mw          4
mwb         2
ms_20       1
Name: magType, dtype: int64

Alaska                     3665
California                 2861
Nevada                      681
Hawaii                      367
Puerto Rico                 216
                           ...
Queen Charlotte Islands       1
Uzbekistan                    1
Prince Edward Islands         1
Martinique                    1
New Mexico                    1
Name: parsed_place, Length: 110, dtype: int64

In [167]:
df_eq_mag_place = df[['type', 'mag', 'magType','parsed_place']]
df_eq_mag_place.info()
df_eq_mag_place.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          9332 non-null   object
 1   mag           9331 non-null   float64
 2   magType       9331 non-null   object
 3   parsed_place  9332 non-null   object
dtypes: float64(1), object(3)
memory usage: 291.8+ KB

         type   mag magType parsed_place
0  earthquake  1.35      ml   California
1  earthquake  1.29      ml   California
2  earthquake  3.42      ml   California
3  earthquake  0.44      ml   California
4  earthquake  2.16      md   California

In [168]:
japan_mag_df = df.loc[(df['parsed_place'] == 'Japan') & (df['type'] == 'earthquake') & (df['magType'] == 'mb'), ['parsed_place', 'type', 'mag', 'magType']]
japan_mag_df.mag.quantile(.95)

4.9

*Summary Solution*

In [169]:
df_eq_mag_place = df[['type', 'mag', 'magType','parsed_place']]
japan_mag_df = df.loc[(df['parsed_place'] == 'Japan') & (df['type'] == 'earthquake') & (df['magType'] == 'mb'), ['parsed_place', 'type', 'mag', 'magType']]
japan_mag_df.mag.quantile(.95)

4.9

*Book Solution*

In [170]:
df[
    (df.parsed_place == 'Japan') & (df.magType == 'mb')
].mag.quantile(0.95)

4.9

## Exercise 2
#### Find the percentage of earthquakes in Indonesia that were coupled with tsunamis.

In [171]:
df.tsunami.value_counts()
indonesian_earthquakes_count = df[(df.parsed_place == 'Indonesia') & (df.type == 'earthquake')].size
indonesian_earthquakes_with_tsunami_count = df[(df.parsed_place == 'Indonesia') & (df.type == 'earthquake') & (df.tsunami == 1)].size

print(indonesian_earthquakes_count)
print(indonesian_earthquakes_with_tsunami_count)
print("{:.2%}".format(indonesian_earthquakes_with_tsunami_count / indonesian_earthquakes_count))

3969
918
23.13%

*Summary Solution*

In [172]:
indonesian_earthquakes_count = df[(df.parsed_place == 'Indonesia') & (df.type == 'earthquake')].size
indonesian_earthquakes_with_tsunami_count = df[(df.parsed_place == 'Indonesia') & (df.type == 'earthquake') & (df.tsunami == 1)].size

print("{:.2%}".format(indonesian_earthquakes_with_tsunami_count / indonesian_earthquakes_count))

23.13%

*Book Solution*

In [173]:
f"{df[df.parsed_place == 'Indonesia'].tsunami.value_counts(normalize=True).iloc[1,]:.2%}"

'23.13%'

## Exercise 3
#### Calculate summary statistics for earthquakes in Nevada.

In [174]:
df_nv_earthquakes = df[df.parsed_place == "Nevada"]
mean_mag = df_nv_earthquakes.mag.mean()
median_mag = df_nv_earthquakes.mag.median()
stdev_mag = df_nv_earthquakes.mag.std()

print("Mean:", mean_mag)
print("Median:", median_mag)
print("Std Dev:", stdev_mag)
print("\nSummary Statistics")
print(df_nv_earthquakes.describe())

Mean: 0.500073421439061
Median: 0.4
Std Dev: 0.6967100168237428

Summary Statistics
             cdi        dmin       felt         gap         mag   mmi  \
count  15.000000  681.000000  15.000000  681.000000  681.000000  1.00
mean    2.440000    0.166199   2.400000  153.668120    0.500073  2.84
std     0.501142    0.166228   4.626013   68.735302    0.696710   NaN
min     2.000000    0.001000   1.000000   29.140000   -0.500000  2.84
25%     2.000000    0.053000   1.000000   97.380000   -0.100000  2.84
50%     2.200000    0.112000   1.000000  149.140000    0.400000  2.84
75%     2.900000    0.233000   1.000000  199.720000    0.900000  2.84
max     3.300000    1.414000  19.000000  355.910000    2.900000  2.84

              nst         rms         sig          time  tsunami     tz  \
count  681.000000  681.000000  681.000000  6.810000e+02    681.0  681.0
mean    12.618209    0.151986   10.970631  1.538314e+12      0.0 -480.0
std      9.866963    0.084662   19.607150  5.965637e+08      0.0    0.0
min      3.000000    0.000500    0.000000  1.537247e+12      0.0 -480.0
25%      6.000000    0.106900    0.000000  1.537854e+12      0.0 -480.0
50%     10.000000    0.146300    2.000000  1.538280e+12      0.0 -480.0
75%     16.000000    0.187100   12.000000  1.538821e+12      0.0 -480.0
max     61.000000    0.863400  129.000000  1.539461e+12      0.0 -480.0

            updated
count  6.810000e+02
mean   1.538402e+12
std    6.010951e+08
min    1.537307e+12
25%    1.537928e+12
50%    1.538428e+12
75%    1.538878e+12
max    1.539483e+12

## Exercise 4
#### Add a column indicating whether the earthquake happened in a country or US state that is on the Ring of Fire. Use Alaska, Antarctica (look for Antarctic), Bolivia, California, Canada, Chile, Costa Rica, Ecuador, Fiji, Guatemala, Indonesia, Japan, Kermadec Islands, Mexico (be careful not to select New Mexico), New Zealand, Peru, Philippines, Russia, Taiwan, Tonga, and Washington.

In [175]:
ring_of_fire_countries = ["Antarctic", "Bolivia", "Canada", "Chile", "Costa Rica", "Ecuador", "Fiji", "Guatemala", "Indonesia", "Japan", "Kermadec Islands", "Mexico", "New Zealand", "Peru", "Philippines", "Russia", "Taiwan", "Tonga"]
ring_of_fire_states = ["Alaska", "California", "Washington"]

df['on_ring_of_fire'] = df['parsed_place'].isin(ring_of_fire_countries + ring_of_fire_states)
df[['parsed_place', 'on_ring_of_fire']]

     parsed_place  on_ring_of_fire
0      California             True
1      California             True
2      California             True
3      California             True
4      California             True
...           ...              ...
9327   California             True
9328   California             True
9329  Puerto Rico            False
9330   California             True
9331   California             True

[9332 rows x 2 columns]

## Exercise 5
#### Calculate the number of earthquakes in the Ring of Fire locations and the number outside of them.

In [176]:
quakes_on_ring_of_fire = sum(df.on_ring_of_fire)
quakes_outside_ring_of_fire = df.on_ring_of_fire.count() - quakes_on_ring_of_fire
print("Quakes on Ring of Fire: ", quakes_on_ring_of_fire)
print("Quakes outside Ring of Fire: ", quakes_outside_ring_of_fire)

#Book Solution
df.on_ring_of_fire.value_counts()

Quakes on Ring of Fire:  7184
Quakes outside Ring of Fire:  2148

True     7184
False    2148
Name: on_ring_of_fire, dtype: int64

## Exercise 6
#### Find the tsunami count along the Ring of Fire.

In [181]:
print("My tsunami count along Ring of Fire: ", df[df.on_ring_of_fire == True][df.tsunami == True]['on_ring_of_fire'].count())

# Book Solution
print("Book tsunami count along Ring of Fire: ", df.loc[df.on_ring_of_fire, 'tsunami'].sum())

My tsunami count along Ring of Fire:  45
Book tsunami count along Ring of Fire:  45

/var/folders/kt/b8lrpwpn5w9910rcrffl5p140000gp/T/ipykernel_19007/3259826999.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print("My tsunami count along Ring of Fire: ", df[df.on_ring_of_fire == True][df.tsunami == True]['on_ring_of_fire'].count())